<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Thomas Kountouris" />
		<meta name="description" content="TO-DO list created with Backbone.js" />
		<link rel="stylesheet" href="css/style.css" media="screen" />
		<script src="js/jquery-1.11.2.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone.js"></script>
		<script src="js/backbone.localStorage.js"></script>
		<script src="js/models.js"></script>
		<script src="js/views.js"></script>
		<script src="js/script.js"></script>			
	</head>
	<body>
		<div id="wrapper">
			<div id="inner">
				<h1 id="title">To do</h1>
				<input type="text" id="newTodo" name="todoItem" placeholder="Enter todo item..."/>
				<div class="items"></p>

				<script type="text/template" id="remaining-items">

					<span class="items-number"> 
						<span class="items-left">
						<%= totalItems %></span> <%= totalItems === 1 ? 'item' : 'items' %> left to do.
					</span>

					<div class="active-and-completed-items">
						<span>Active Items (<span class="items-left active"> <%= activeItems %> </span>)
						<span>Completed Items (<span class="items-left completed"> <%= completedItems %> </span>)

						<% if (completedItems > 0) { %>
							<span class="clear-completed">Clear all completed</span>
						<% } %>

					</div>


				</script>
				<div class="debug-wrapper">

					<script type="text/template" id="debug">

						<p>Todo Collection Length: <%= length %></p>
						<p>Active Items Length: <%= activeItems %></p>
						<p>Completed Items Length: <%= completedItems %></p>
					</script>			
				
				</div>

			</div>			
		</div>
	</body>
</html>